In [1]:
'''Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then,
print the series.

Ans-
'''
#Code
import pandas as pd
l=[4,8,15,16,23,42]
print(pd.Series(l))
'''
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series
function on the variable print it.
Ans-'''
#Code
import pandas as pd
l=[4,8,15,16,23,42,45,3,2,1]
print(pd.Series(l))

'''Q3. Create a Pandas DataFrame that contains the following data:
Then, print the DataFrame.
Ans-'''
#Code
import pandas as pd
data={'Name':['Alice','Bob','Claire'],
     'Age':[25,30,27],'Gender':['Female','Male','Female']}
pd.DataFrame(data)

'''Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with 
an example.
Ans-
In pandas, a DataFrame is a two-dimensional labeled data structure that represents tabular data,
similar to a spreadsheet or a SQL table. It is one of the most commonly used data structures in
pandas and provides a convenient way to organize, manipulate, and analyze data.
A DataFrame consists of rows and columns, where each column can be of a different data type 
(e.g., numbers, strings, dates). It is like a collection of Series objects, where each Series 
represents a column of the DataFrame.
On the other hand, a Series is a one-dimensional labeled array in pandas. It can be seen as a
single column of data from a DataFrame. A DataFrame can be considered as a collection of Series
that share the same index.
Here's an example to illustrate the difference between a DataFrame and a Series:'''
import pandas as pd
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [25, 28, 30],
    'City': ['New York', 'London', 'Paris']
}

# Create a DataFrame
df = pd.DataFrame(data)
print(df)
# Extract a column as a Series
name_series = df['Name']
print(name_series)

'''Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans-
1)head() and tail(): These functions allow you to view the first or last few rows of the 
DataFrame, respectively. They are useful for quickly inspecting the data.

2)info(): It provides a summary of the DataFrame, including the column names, data types, and 
memory usage. It helps in understanding the structure and characteristics of the DataFrame.

3)describe(): This function generates descriptive statistics of the numerical columns in the
DataFrame, such as count, mean, standard deviation, minimum, and maximum values. It gives a 
quick overview of the data distribution.

4)shape: It returns the dimensions (number of rows and columns) of the DataFrame. It's useful 
to check the size of the data.

5)columns: This attribute returns the column labels of the DataFrame as a list. It can be 
helpful to get the names of all the columns.

6)loc[] and iloc[]: These indexing functions allow for label-based and integer-based indexing, 
respectively. They are used to access specific rows and columns in the DataFrame. For example,
df.loc[2, 'Name'] will return the value at row 2 and column 'Name'.

7)drop(): This function is used to remove rows or columns from the DataFrame. It can be handy
when you want to eliminate irrelevant or redundant data.

8)fillna(): It is used to fill missing values in the DataFrame with a specified value or a 
strategy like mean or median. It helps in handling missing data effectively.

9)groupby(): This function is used for grouping data based on one or more columns. It allows 
you to perform aggregate operations on the grouped data, such as computing sums, means, or 
counts.

10)sort_values(): It sorts the DataFrame based on one or more columns. You can specify ascending
or descending order. Sorting data is often necessary for analysis or visualization purposes

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans-
Among the options provided (Series, DataFrame, Panel), both Series and DataFrame are mutable in
nature, whereas Panel is not mutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.
Ans-

SyntaxError: invalid character '‘' (U+2018) (4231194755.py, line 13)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female